.header-content{
      background-color: #941216;
      padding: 12px 0px 12px 0px;
    }
  
    .phonenumb{
      color: #fff;
      font-weight: bold;
      text-align: center;
    }
  
    .menu-list{
      font-size: 1.4rem;
      float: right;
      display: flex;
      flex-direction: row-reverse;
      flex-grow: unset;
    }
  
    .bold{
      font-weight: bolder;
    }
  
    .main{
      padding: 25px 0px 25px 0px;
    }
  
    .contentbox{
      margin: auto;
    }
  
    .title-1{
      text-align: center;
    }
  
    .card-block {
      margin-bottom: 25px;
    }
  
    .btn-link{
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      background-color: rgb(155,38,3);
    }
    .btn-link a{
      text-decoration: none !important;
    }
  
    a{
      color: #fff;
      text-decoration: none !important;
    }
  
    a:hover{
      color: #fff;
  
    }
  
    .card-header{
      color: #941216;
    }
  
    .card-title{
      color: rgb(61,78,10);
    }
  
    .copyright{
      text-align: center;
      color: #941216;
    }
  
  
    @media screen and (max-width: 768px) {
    /* Styles applied when the viewport width is 600px or less */
    body {
      background-color: lightblue;
    }
  
    .menu-list ul{
      background-color: #CA3D26;
      border-radius: 5px;
    }
  
    .menu-list li{
      border-bottom: solid 1px;
    }
  
    .menu-list li:hover{
      background-color:#941216;
      opacity: 1.9;
    }
  }
  
  @media screen and (min-width: 992px) {
    /* Styles applied when the viewport width is 600px or less */
   
  }
  