*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.title{
    text-align: center;
    font-weight: bold;
    margin-top: 22px;
}

body{
    font-family: 'Inclusive Sans', sans-serif;
}

.logo{
    padding-left: 8px;
}

.name{
    padding-top: 12px;
}
.container-box{
    padding: 35px 0px 35px 0px ;
}

.phone{
    font-weight: bold;
    margin-top: 21px;
}

.mobile-phone{
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    color: #aa4143;
}

.order-online{
    text-decoration: none;
    font-weight: bold;
    padding-right: 12px;
    color: #aa4143;
}

.navigation-block{
    display: flex;
}


/* ESTILOS DE LA NAVEGACION */

.navigation .nav li a{
    display: block;
    margin: 0px 18px;

}

.navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

@media screen and (max-width: 576px) {
    .navbar a {
        float: none;
        display: block;
    }
}


.container-cards{
    width: 90%;
    margin: auto;
    
}

/* STYLES TO CARDS */

.card{
    border: solid 2px #000;
    margin: 0px 0px 22px 0px;
    
}


.card-title{
    overflow: auto;
}

.cat-title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 40%;
    float: right;
    background-color: #ff8183;
    color: #fff;
    padding: 5px 0px 5px 0px;
    letter-spacing: 2px;
    border-left: solid 2px #000;
    border-bottom: solid 2px #000;
    color: #000;
    font-weight: bold;

}

.description{
    padding: 12px;
}

.card-2 .cat-title{
    color: #fff;
    background-color:#aa4143;
}

.card-3 .cat-title{
    color: #000;
    background-color: #ffaa7f;
}

.clear{
    clear: both;
    clear: right;
    
}





/*  MEDIA QUERIES SCREEN SIZE 700PX  */


    @media screen and (min-width: 768px)  {

   

        .container{
            overflow: auto;
        }

        .card-1{
            width: 48%;
            float: left;
            
    
        }

        .card-2{
            width: 48%;
            float: right;
        }

        .card-3{
            clear: both;
        }
        
    }


    @media screen and (min-width: 992px)  {

        .logo{
            margin-left: -20px;
        }

        

        .mobile-phone{
            display: none;
        }

        .container{
            overflow: auto;
        }

        .card{
            width: 31.4%;
            float: left;
            
    
        }

        .card-2{
            margin: 0px 27px ;
        }

        .card-3{
            clear: none;
        }

      
    }

    @media screen and (max-width: 992px)  {

        .nav-item{
            background-color: #ff8183;
            text-align: center;
            border: 1px solid;
        }

        .nav-item a{
            color: gray;
        }

        .navbar-toggler{
            margin-bottom: 5px;

        }

        .nav-item:hover{
            color: white !important;
            background-color: #aa4143;
        }
        .phone{
            display: none;
        }
    }

