*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.title{
    text-align: center;
    font-weight: bold;
    margin-top: 22px;
}

body{
    font-family: 'Inclusive Sans', sans-serif;
}

.container{
    margin: 25px;
}

/* STYLES TO CARDS */

.card{
    border: solid 2px #000;
    margin: 0px 0px 22px 0px;
    
}


.card-title{
    overflow: auto;
}

.cat-title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 40%;
    float: right;
    background-color: #ff8183;
    color: #fff;
    padding: 5px 0px 5px 0px;
    letter-spacing: 2px;
    border-left: solid 2px #000;
    border-bottom: solid 2px #000;
    color: #000;
    font-weight: bold;

}

.description{
    padding: 12px;
}

.card-2 .cat-title{
    color: #fff;
    background-color:#aa4143;
}

.card-3 .cat-title{
    color: #000;
    background-color: #ffaa7f;
}





/*  MEDIA QUERIES SCREEN SIZE 700PX  */


   
    




    @media screen and (min-width: 768px)  {

        .container{
            overflow: auto;
        }

        .card-1{
            width: 48%;
            float: left;
            
    
        }

        .card-2{
            width: 48%;
            float: right;
        }

        .card-3{
            clear: both;
        }
        
    }


    @media screen and (min-width: 992px)  {

        .container{
            overflow: auto;
        }

        .card{
            width: 31.4%;
            float: left;
            
    
        }

        .card-2{
            margin: 0px 27px ;
        }

        .card-3{
            clear: none;
        }

      
    }

